@using WebAppTagHelper.Models
@using WebAppTagHelper.TagHelpers

<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

@{
    Speaker speaker = new Speaker
    {
        SpeakerId = 1124,
        UserLastName = "Crockford",
        UserFirstName = "Douglas",
        Company = "PayPal"
    };
}

<div class="container">

    <SpeakerTrack track-name="JavaScript">
        <SpeakerCard speaker="@speaker"></SpeakerCard>
        <SpeakerCard speaker="@speaker"></SpeakerCard>
        <SpeakerCard speaker="@speaker"></SpeakerCard>
        <SpeakerCard speaker="@speaker"></SpeakerCard>
    </SpeakerTrack>

    <SpeakerTrack track-name="Microservices">
        <SpeakerCard speaker="@speaker"></SpeakerCard>
        <SpeakerCard speaker="@speaker"></SpeakerCard>
    </SpeakerTrack>


</div>

